@charset "utf-8";

#globalHeader{
    background-color: #fcfcfce9;
    position: sticky;
    top: -44px;
    width:100vw;
}

.globalNav_UpperList{
    text-align: center;
    margin-top: 0px;
    margin-bottom:30px;
}

.globalNav_UpperItem{
    margin-top:7px;
}

.globalNav_Uppercontents{
    display:inline-block;
    margin-left:15px;
    margin-right:15px;
}

.globalNav_LowerList{
    text-align: center;
    height:50px;
    margin-left: 25%;
    margin-right:25%;
    margin-bottom:0px;
}

.globalNav_LowerList_title{
    float:left;
    max-height:50px;
    margin-top:5px;
}

.LowerList_title_text{
    font-size: 25px;
    font-weight:1000;
    font-family:sans-serif;
    color:#000000;
    margin:0px;
}

.globalNav_LowerItem{
    float:right;
    margin-top:5px;
}

.globalNav_Lowercontents{
    display:inline-block;
    text-decoration-line: none;
    color:#000000;
    font-size: 20px;
    font-weight:1000;
    font-family:sans-serif;
    margin-right:20px;
}

#style_Body{
    margin: 0px;
    overflow-x: hidden;
}

.content_a{
    text-decoration-line: none;
    color:#000000;
    font-size: 11px;
    font-family:sans-serif;
}

#body{
    padding-top:1%;
    margin-left: 20%;
    margin-right: 20%;
}

#footer_main{
    background-color: rgb(225, 225, 225);
    margin:0px;
    padding:0px;
}
#footer_content{
    padding-top:11px;
    margin-right: 20vw;
    margin-left: 20vw;
    padding-bottom:11px;
}
.contentF_p{
    margin:5px;
    padding:0;
    color:#494949;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}